@charset "UTF-8";
/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}

pre {
  padding: 0;
}
body {
  color: #2b3242;
}
a {
  color: #2b3242;
}
a:hover {
  color: #dd514c;
}
.am-alert {
  margin-bottom: 0;
}
.m-hd ul,
.m-header-banner ul {
  padding: 0;
}
.m-hd ul li,
.m-header-banner ul li {
  list-style-type: none;
}
a,
a:hover,
.m-partner li img,
.m-partner li img:hover,
.m-contact-infobox,
.m-contact-infobox:hover,
.m-footer .ico i,
.m-footer .ico i:hover,
.m-service-page .ico ul li span,
.m-service-page .ico ul li span:hover,
.m-hd .am-sticky,
.m-service-list li:hover {
  -webkit-filter: none;
  transition: all 0.5s ease;
}
[class*=am-u-] + [class*=am-u-]:last-child {
  float: left;
}
.p-left {
  text-align: left!important;
  text-indent: 2em;
}
.m-images-container section img,
.m-news-container section img {
  max-width: 100%;
  height: auto;
}
.am-container {
  max-width: 1200px;
}
.am-g-fixed {
  max-width: 1200px;
}
/* 头部 */
.m-hd {
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 130px;
  padding: 45px 0 0 0;
}
.m-hd ul {
  margin: 0;
}
.m-hd ul li {
  list-style-type: none;
}
.m-hd .am-container {
  position: relative;
}
.m-hd .am-sticky {
  background: #1a1f2a;
  padding: 15px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}
.m-hd .am-header a {
  color: #fff;
}
.m-hd .m-nav a {
  color: #fff;
}
.m-hd .m-nav a:hover {
  background: #ba1f2e;
  border-radius: 2px;
  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.m-hd .am-nav > li.am-active > a,
.m-hd .am-nav > li.am-active > a:focus,
.m-hd .am-nav > li.am-active > a:hover {
  color: #fff;
  background-color: #ba1f2e;
  cursor: default;
}
.m-hd .am-dropdown-content {
  background: #ba1f2e;
  border: none;
}
.m-hd .am-dropdown-content > li > a:hover {
  color: #fff;
}
.m-hd .am-dropdown-content:after,
.m-hd .am-dropdown-content:before {
  border: 8px dashed #ba1f2e;
}
.m-hd .am-dropdown-content > .am-active > a,
.m-hd .am-dropdown-content > .am-active > a:focus,
.m-hd .am-dropdown-content > .am-active > a:hover {
  background-color: #d22e3e;
}
.m-logo {
  display: block;
  float: left;
  font-size: 22px;
  line-height: 40px;
  width: 165px;
  color: #fff;
  text-indent: -9999px;
  background: url('../i/logo.png') no-repeat left center;
  background-size: 125px 40px;
  margin-right: 20px;
}
.m-about li {
  float: left;
  margin-left: 5px;
}
#r-nav .am-offcanvas-bar {
  width: 200px;
}
#r-nav .logo {
  margin-bottom: 20px;
}
#r-nav p {
  border-bottom: 1px solid #4F4F4F;
  padding-bottom: 20px;
}
/* 头部大banner */
.m-header-banner {
  height: 680px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 260px;
  color: #fff;
}
.m-header-banner h2 {
  font-size: 50px;
  margin: 0;
  font-weight: 100;
}
.m-header-banner p {
  font-size: 20px;
}
.m-header-banner nav {
  display: inline-block;
}
.m-header-banner nav li {
  float: left;
  margin-right: 10px;
  font-size: 12px;
}
.m-header-banner nav li a {
  color: #fff;
}
.m-header-banner nav li.am-active a {
  font-weight: bold;
}
.m-header-1 {
  height: 180px;
  padding-top: 145px;
  background: #1a1f2a;
}
.m-list-header {
  height: 550px;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .m-header-banner {
    height: 600px;
    padding-top: 240px;
  }
  .m-header-banner h2 {
    font-size: 46px;
    margin: 0;
  }
  .m-header-banner p {
    font-size: 20px;
    padding: 0;
    width: 70%;
  }
  .m-header-1 {
    height: 180px;
    padding-top: 145px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .m-hd .am-nav > li > a {
    position: relative;
    display: block;
    padding: 0.4em;
    font-size: 14px;
  }
  .m-hd .m-about li {
    float: left;
    margin-left: 5px;
    font-size: 14px;
  }
  .m-hd .am-btn {
    padding: 0.5em 0.4em;
  }
  .m-header-banner {
    height: 480px;
    padding-top: 220px;
    text-align: center;
  }
  .m-header-banner h2 {
    font-size: 30px;
    margin: 0;
  }
  .m-header-banner p {
    font-size: 20px;
    padding: 0;
    margin: 30px 0 15px 0;
  }
  .m-header-1 {
    height: 180px;
    padding-top: 145px;
    text-align: left;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .m-hd {
    height: 50px;
    padding: 0;
  }
  .m-hd .am-nav > li > a {
    position: relative;
    display: block;
    padding: 0.4em;
    font-size: 14px;
  }
  .m-hd .m-about {
    display: none;
  }
  .m-hd .m-about li {
    float: left;
    margin-left: 5px;
    font-size: 14px;
  }
  .m-hd .am-btn {
    padding: 0.5em 0.4em;
  }
  .m-header-banner {
    height: 380px;
    padding-top: 120px;
    text-align: center;
  }
  .m-header-banner h2 {
    font-size: 30px;
    margin: 0;
  }
  .m-header-banner p {
    font-size: 18px;
    padding: 0;
    margin: 20px 0 15px 0;
  }
  .m-header-1 {
    height: 120px;
    padding-top: 75px;
    text-align: left;
  }
}
@media screen and (max-width: 479px) {
  .m-hd {
    height: 50px;
    padding: 0;
  }
  .m-header-banner {
    height: 200px;
    padding-top: 80px;
    text-align: center;
  }
  .m-header-banner h2 {
    font-size: 20px;
    margin: 0;
  }
  .m-header-banner p {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  .m-header-1 {
    height: 120px;
    padding-top: 75px;
    text-align: left;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .m-logo {
    background: url('../i/logo4.png');
    background-size: 125px 40px;
    background-repeat: no-repeat;
  }
}
.am-btn-danger {
  background: #d22e3e;
  border: 1px solid #d22e3e;
}
.am-btn-danger:hover {
  background: #ba1f2e;
  border: 1px solid #ba1f2e;
}
.m-home-box {
  padding-bottom: 50px;
}
.m-home-box h2 {
  margin: 40px 0 0 0;
}
.m-home-box p {
  margin: 0 0 20px 0;
  font-size: 14px;
  color: #737b8a;
  text-align: center;
}
.m-home-box ul h2 {
  padding: 0;
  margin: 0;
}
.m-mn-box {
  position: relative;
  background-color: #fff;
  margin-bottom: 60px;
}
.m-mn-box section h2 {
  margin: 0;
  padding: 0;
}
.m-mn-box section h3 {
  margin: 20px 0 10px 0;
  padding: 0;
}
.m-mn-box section p {
  margin-top: 0;
}
.m-container {
  margin: 0 0 60px 0;
}
/*
 *首页幻灯片
*/
.am-slider-i2 .am-slider-images {
  height: 680px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
.am-slider-i2 .am-slider-desc {
  position: absolute;
  left: 0;
  top: 40%;
  right: 0;
  color: #ffffff;
  text-align: center;
}
.am-slider-i2 .am-slider-content h2 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.am-slider-i2 .am-slider-content p {
  margin: 0;
  display: block;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 30px;
}
.am-slider-i2 .am-slider-title {
  font-weight: normal;
  margin-bottom: 5px;
  display: block;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.am-slider-i2 .am-slider-en {
  font-size: 12px;
}
.am-slider-i2 .am-btn {
  margin-top: 20px;
  margin-right: 10px;
}
.am-slider-i2 .am-direction-nav,
.am-slider-i2 .am-pauseplay {
  display: none;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .am-slider-i2 .am-slider-images {
    height: 480px;
  }
  .am-slider-i2 .am-slider-desc {
    top: 40%;
  }
  .am-slider-i2 .am-direction-nav,
  .am-slider-i2 .am-pauseplay {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .am-slider-i2 .am-slider-images {
    height: 480px;
  }
  .am-slider-i2 .am-slider-desc {
    top: 200px;
  }
  .am-slider-i2 .am-slider-content h2 {
    font-size: 40px;
  }
  .am-slider-i2 .am-slider-content p {
    font-size: 24px;
  }
  .am-slider-i2 .am-btn {
    margin-top: 10px;
  }
  .am-slider-i2 .am-direction-nav,
  .am-slider-i2 .am-pauseplay {
    display: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .am-slider-i2 .am-slider-images {
    height: 280px;
  }
  .am-slider-i2 .am-slider-desc {
    text-align: center;
    top: 35%;
  }
  .am-slider-i2 .am-slider-content h2 {
    font-size: 20px;
  }
  .am-slider-i2 .am-slider-content p {
    font-size: 14px;
  }
  .am-slider-i2 .am-btn {
    margin-top: 10px;
  }
  .am-slider-i2 .am-direction-nav,
  .am-slider-i2 .am-pauseplay {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .am-slider-i2 .am-slider-images {
    height: 280px;
  }
  .am-slider-i2 .am-slider-desc {
    text-align: center;
    top: 110px;
  }
  .am-slider-i2 .am-slider-content h2 {
    font-size: 20px;
  }
  .am-slider-i2 .am-slider-content p {
    font-size: 14px;
  }
  .am-slider-i2 .am-btn {
    margin-top: 10px;
  }
  .am-slider-i2 .am-direction-nav,
  .am-slider-i2 .am-pauseplay {
    display: none;
  }
}
.m-case-list li {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
}
.m-case-list li figure {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  background: #000;
  text-align: center;
  cursor: pointer;
}
.m-case-list li figure img {
  position: relative;
  display: block;
}
.m-case-list li figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: 120px;
}
.m-case-list li figure figcaption::before,
.m-case-list li figure figcaption::after {
  pointer-events: none;
}
.m-case-list li figure figcaption,
.m-case-list li figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-case-list li figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.m-case-list li figure h3 {
  word-spacing: -0.15em;
  font-weight: 300;
}
.m-case-list li figure h3 span {
  font-weight: 800;
}
.m-case-list li figure h3,
.m-case-list li figure p {
  margin: 0;
}
.m-case-list li figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
figure.effect-lily img {
  width: calc(150%);
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  background: url('../i/loading.gif') 50% 50% no-repeat;
}
figure.effect-lily figcaption {
  top: auto;
  bottom: 0;
  text-align: left;
}
figure.effect-lily h3,
figure.effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}
figure.effect-lily h3 {
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}
figure.effect-lily p {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
  transition: opacity 0.2s, transform 0.35s, -webkit-transform 0.35s;
}
figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1;
}
figure.effect-lily:hover img,
figure.effect-lily:hover h3,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #fff;
}
figure.effect-lily:hover img {
  opacity: .4;
}
figure.effect-lily:hover p {
  transition-delay: 0.05s;
  transition-duration: 0.35s;
}
.m-cat-nav {
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 40px;
}
.m-cat-nav ul li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  padding-top: 20px;
}
.m-cat-nav ul li.am-active a {
  color: #dd514c;
}
.m-cat-nav p {
  font-size: 12px;
  margin-bottom: 60px;
}
/* 联系我们 */
.m-contact {
  background: url('../i/bg.jpg') 50% 0 no-repeat fixed;
  padding: 30px 0 50px 0;
  color: #fff;
}
.m-contact p {
  color: #fff;
}
.m-contact-us {
  padding: 40px 0;
}
.m-contact-us span {
  padding-top: 10px;
}
.m-contact-us .am-btn {
  width: 100%;
}
.m-contact-infobox {
  border: 1px solid #D8D8D8;
  background: #fff;
  border-radius: 5px;
  padding: 40px 0;
  text-align: center;
}
.m-contact-infobox:hover {
  border: 1px solid #0d121b;
  background: #1a1f2a;
  color: #fff;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .m-contact-us {
    text-align: center;
  }
}
@media screen and (max-width: 479px) {
  .m-contact-us {
    text-align: center;
  }
}
/* 图片模块 */
.m-images-container {
  margin-top: -30px;
  border-radius: 3px;
}
.m-images-container section {
  padding: 30px;
}
.m-images-container section p {
  margin-bottom: 2rem;
}
.m-images-show {
  height: 400px;
  padding-top: 150px;
  background: #1a1f2a;
}
.m-images-show hgroup h1 {
  font-size: 58px;
  line-height: 68px;
  font-weight: normal;
  margin-bottom: 30px;
}
.m-images-show hgroup p {
  width: 100%;
  font-size: 26px;
  margin: 0;
}
.m-images-show hgroup ul {
  margin: 0;
  font-size: 14px;
  display: inline-block;
}
.m-images-show hgroup ul li {
  float: left;
  margin-right: 5px;
  padding-bottom: 30px;
}
.m-images-show .am-animation-fade {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .m-images-show {
    height: 400px;
    padding-top: 15 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .m-images-show {
    height: 300px;
    padding-top: 130px;
  }
  .m-images-show hgroup h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .m-images-show hgroup p {
    width: 100%;
    font-size: 16px;
    margin: 0;
  }
  .m-images-show hgroup ul {
    margin: 0;
    font-size: 12px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .m-images-show {
    height: 300px;
    padding-top: 110px;
  }
  .m-images-show hgroup h1 {
    font-size: 28px;
    line-height: 28px;
  }
  .m-images-show hgroup p {
    width: 100%;
    font-size: 14px;
    margin: 0;
  }
  .m-images-show hgroup ul {
    margin: 0;
    font-size: 12px;
  }
}
@media screen and (max-width: 479px) {
  .m-images-show {
    height: 200px;
    padding-top: 70px;
    text-align: center;
  }
  .m-images-show hgroup h1 {
    font-size: 28px;
    line-height: 28px;
  }
  .m-images-show hgroup p {
    width: 100%;
    font-size: 14px;
    margin: 0;
  }
  .m-images-show hgroup ul {
    margin: 0;
    font-size: 12px;
  }
}
/* 文章模块 */
.m-news article {
  margin-bottom: 80px;
  position: relative;
}
.m-news h3 {
  font-size: 28px;
}
.m-news-date {
  font-family: arial;
  color: #999;
  border-right: 1px solid #e9e9e9;
}
.m-news-date span {
  display: block;
  font-size: 40px;
  color: #333;
}
.m-news-data {
  padding-bottom: 30px;
}
.m-news-data span {
  color: #aaa;
  margin-right: 20px;
}
.m-news-desc {
  color: #2b3242;
  height: 100px;
  overflow: hidden;
}
.m-news-container {
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 3px;
  background: #fff;
}
.m-news-container header {
  background: #1a1f2a;
  border-radius: 3px 3px 0 0;
  color: #fff;
  padding: 20px;
}
.m-news-container header a {
  color: #fff;
}
.m-news-container header span {
  margin-right: 10px;
}
.m-news-container section {
  padding: 40px 20px 20px;
}
.m-news-container section .com a {
  color: #dd514c;
}
/* 服务内容 */
.m-services {
  background: #1a1f2a;
  padding: 40px 0 40px 0;
  color: #fff;
}
.m-service-container {
  margin: 0 0 60px 0;
}
.m-service-container .am-pagination {
  margin-top: 20px;
}
.m-service-container .am-pagination .am-active a {
  background: #DD514E;
  border-color: #dd514c;
}
.m-service-list li {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #fff;
}
.m-service-list li:hover {
  background: #d22e3e;
  border: 1px solid #d22e3e;
  border-left: 10px solid #ba1f2e;
  color: #fff;
  margin-bottom: 30px;
}
.m-service-list-icon {
  font-size: 50px;
  text-align: center;
}
/** 网站欣赏列表 **/
.m-web-list figure {
  background: #fff;
}
.m-web-list figure h3 {
  margin: 0;
}
.m-web-list figure figcaption {
  padding: 10px;
}
.m-list article {
  margin-bottom: 60px;
}
/** 相关网站 **/
.m-web-relevantdesc {
  font-size: 12px;
  height: 40px;
  overflow: hidden;
}
/* tag */
.m-item {
  margin-top: 60px;
}
.m-item article .thumbnail {
  height: 200px;
  overflow: hidden;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .m-contact-us {
    text-align: center;
  }
}
@media screen and (max-width: 479px) {
  .m-contact-us {
    text-align: center;
  }
}
/* 协助伙伴 */
.m-partner li img {
  border: 1px solid #E9E9E9;
  -webkit-filter: grayscale(1);
}
.m-partner li img:hover {
  border: 1px solid #737b8a;
}
.m-partner p {
  margin: 0 0 30px 0;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .m-contact-us {
    text-align: center;
  }
}
@media screen and (max-width: 479px) {
  .m-contact-us {
    text-align: center;
  }
}
/*返回顶部*/
.m-top-cbbfixed {
  position: fixed;
  right: 10px;
  transition: bottom ease .3s;
  bottom: -85px;
  z-index: 3;
  cursor: pointer;
}
.m-top-cbbtn {
  width: 40px;
  height: 40px;
  display: block;
  background-color: #d22e3e;
}
.m-top-go {
  transition: background-color ease 0.3s;
  margin-top: 1px;
}
.m-top-go:hover {
  background-color: #ba1f2e;
}
.m-top-goicon {
  float: left;
  margin: 14px 0 0 9px;
  width: 23px;
  height: 12px;
  background: url('../i/side-icon.png');
}
.m-top-weixin {
  background: #333;
}
.m-top-weixin div {
  width: 194px;
  height: 199px;
  position: absolute;
  left: -194px;
  top: -115px;
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  transform-origin: 100% 70%;
  -webkit-transform-origin: 100% 70%;
  transition: opacity ease .3s, -webkit-transform ease .3s;
  transition: transform ease .3s, opacity ease .3s;
  transition: transform ease .3s, opacity ease .3s, -webkit-transform ease .3s;
  -webkit-transition: all ease .3s;
  display: none \0;
  *display: none;
}
.m-top-weixin:hover div {
  display: block;
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
  *display: block;
}
.m-top-weixin-icon {
  float: left;
  margin: 12px 0 0 11px;
  width: 18px;
  height: 18px;
  background: url('../i/side-icon.png');
}
/* 网站底部 */
.m-footer {
  background: #1a1f2a;
  padding: 60px 0 0 0;
  color: #555d6d;
  font-size: 14px;
}
.m-footer a {
  color: #555d6d;
}
.m-footer a:hover {
  color: #d22e3e;
}
.m-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.m-footer section h2 {
  font-size: 16px;
  margin-bottom: 20px;
}
.m-footer i {
  margin-left: 10px;
}
.m-footer-container,
.m-footer-flink {
  padding-bottom: 60px;
}
.m-footer-subnav a,
.m-footer-flink a {
  margin-right: 10px;
}
.m-footer-bottom {
  background: #0d121b;
  font-size: 12px;
  padding: 30px 0;
  color: #555d6d;
}
.primary-icon {
  float: left;
  display: block;
  margin-right: 15px;
  color: #fff;
  font-size: 24px;
  text-shadow: 0 0 1px #666;
  vertical-align: text-bottom;
}
.detail {
  background: #fff;
  margin-top: 40px;
}
.detail-h2 {
  text-align: center;
  font-size: 150%;
  margin: 40px 0;
}
.detail-h3 {
  color: #1f8dd6;
  text-align: center;
}
.detail-p {
  color: #464545;
  font-size: 18px;
  text-align: center;
}
.detail-mb {
  margin-bottom: 40px;
  margin-top: 40px;
}
.detail-h3 {
  overflow: hidden;
}
.detail-mb:hover img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  transition: all 1s ease 0s;
  -webkit-transform: scale(1.4);
  -webkit-transform: all 1s ease 0s;
}
.hope {
  background: #f2f2f2;
}
.hope2 {
  background: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hope-img {
  text-align: center;
}
.hope-img-left {
  text-align: left;
  padding: 30px 0;
}
.hope-img-right {
  text-align: right;
}
.hope-text {
  padding: 30px 0;
}
.hope-text-top {
  margin-top: 180px;
}
/*.hope-img img {
	margin-top:19px;
    }
*/
.hope-hr {
  border-color: #149C88;
}
.hope-title {
  color: #2588cb;
}
.amz-features img {
  margin: auto;
}
.index-new .home-mod-2 {
  padding: 20px 0;
}
.index-new .home-mod {
  text-align: center;
}
.home-mod {
  float: left;
  width: 100%;
  margin: -5px 0 10px 0;
}
.index-new .divider {
  display: block;
  margin: 0 auto;
}
.index-new .home-mod h3 {
  font-family: 'Arial', 'sans-serif';
  font-weight: normal;
  margin: 10px auto 20px;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.index-new .home-mod .process {
  margin: 20px auto 10px auto;
}
.index-new .home-mod .process td {
  width: 14.285714285714%;
  text-align: center;
}
.home-mod-2 td {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #444;
}
.home-mod-2 td span,
.span-text {
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
.process-arrow {
  position: absolute;
  top: 50px;
  right: 0;
}
.index-new .home-mod .process .title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 12px auto 2px;
}
.index-new #fabu-index {
  margin: 20px 0;
}
.index-new #fabu-index ul {
  margin-top: 0;
}
.index-new #fabu-index .am-list > li {
  border: 0;
  background-color: #24292d;
  color: #fff;
}
.index-new #fabu-index .am-list > li a,
.index-new #fabu-index .am-list > li span {
  display: block;
  width: 90%;
  margin: 3px auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}
.index-new #fabu-index h4 {
  font-weight: normal;
  font-size: 20px;
  margin: 15px auto 5px auto;
}
.index-new #fabu-index .am-list > li .font_gray {
  color: #999;
}
.index-new #fabu-index .am-list > li a,
.index-new #fabu-index .am-list > li span {
  display: block;
  width: 90%;
  margin: 3px auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.index-new #fabu-index .am-list > li span {
  display: block;
  margin: 5px auto;
}
.index-new #fabu-index .pjtitle {
  color: #fff;
}
.index-new #fabu-index .am-list > li button {
  width: 90%;
}
#bigdata {
  background: #1a1f2a;
  margin-bottom: 40px;
}
#bigdata h1,
#bigdata span,
#bigdata strong {
  color: #fff;
  display: block;
}
.index-new .industry_docking {
  float: left;
  height: 251px;
  overflow: hidden;
  padding: 55px 45px;
}
.index-new .industry_docking strong {
  width: 60%;
  font-size: 22px;
}
.index-new .industry_docking i {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  width: 62%;
}
.index-new .industry_docking strong,
.index-new .industry_docking i,
.index-new .industry_docking span {
  display: block;
}
.index-new .industry_docking span {
  font-size: 16px;
  text-align: center;
  width: 85%;
  margin: 35px auto 0;
}
.index-new .img1 {
  background: #ececec url('../i/ww1.png') no-repeat 200px 30px;
}
.index-new .img2 {
  background: #ececec url('../i/ww2.png') no-repeat 200px 30px;
}
.index-new .img3 {
  background: #ececec url('../i/ww3.png') no-repeat 200px 30px;
}
.index-new .img4 {
  background: #ececec url('../i/ww4.png') no-repeat 200px 30px;
}
.index-new .img5 {
  background: #ececec url('../i/ww5.png') no-repeat 200px 30px;
}
.index-new .img6 {
  background: #ececec url('../i/ww6.png') no-repeat 200px 30px;
}
.index-new .industry_docking:hover {
  opacity: .7;
}
.home-mod-5 .pal {
  display: inline-block;
  width: 207px;
  height: 150px;
  border: 1px solid #ececec;
  margin: 0 12px 20px 12px;
  text-align: center;
}
.home-mod-5 .pal a {
  display: block;
  height: 150px;
}
.index-new .home-mod-5 .pal a div {
  font-size: 16px;
  font-weight: 600;
  color: #444;
  margin-top: 5px;
}
.index-new .home-mod-5 .pal a span {
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
.index-new .home-mod-5 .pal a {
  background-color: #fff;
  padding-top: 10px;
}
.index-new .home-mod-5 .pal {
  height: auto;
  margin: 0 8px 20px 10px;
  border: 1px solid #ddd;
}
.news-content-all {
  margin-top: 45px;
}
.news-content-all div {
  padding: 0;
}
.left {
  float: left;
}
.news-ul li {
  margin-bottom: 30px;
}
.news-ul-liall {
  position: relative;
  overflow: hidden;
}
.news-ul-liimg {
  width: 100%;
}
.inform-list {
  position: absolute;
  left: 0;
  top: 20px;
}
.inform-list div {
  padding: 5px 12px;
  margin: 6px 0;
  width: auto;
  background-color: #128abc;
  color: #fff;
  font-size: 13px;
  margin-left: -100%;
  display: table;
  opacity: 0;
}
.inform-list div i {
  margin-right: 5px;
}
.news-ul li span {
  margin-top: 15px;
  display: inline-block;
}
.news-ul li p {
  font-size: 14px;
  height: 60px;
  line-height: 20px;
  overflow: hidden;
  margin-top: 5px;
  color: #9a9a9a;
}
.news-ul li span {
  margin-top: 15px;
  display: inline-block;
}
.see-more3 {
  padding: 5px 10px;
  color: #128abc;
  background-color: #fff;
  border: 1px solid #128abc;
  border-radius: 3px;
}
.see-more3 i {
  margin-left: 5px;
}
.am-container-1 {
  max-width: 1120px;
  margin: 0 auto;
}
.am-accordion-gapped {
  margin: .5rem 1rem;
}
.hot-title {
  color: #128abc;
  margin-bottom: 10px;
}
.hot-title i {
  margin-right: 10px;
  font-size: 19px;
}
.am-accordion-content {
  margin-top: 0;
  padding: 0.5rem 1rem 0.7rem !important;
  font-size: 1.4rem;
}
.news-ul li:hover .news-ul-liimg {
  -webkit-filter: blur(2px) grayscale(1);
  -moz-filter: blur(2px) grayscale(1);
  -o-filter: blur(2px) grayscale(1);
  -ms-filter: blur(2px) grayscale(1);
  filter: blur(2px) grayscale(1);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.news-ul li:hover .inform-list-date {
  margin-left: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 1;
}
.news-ul li:hover .inform-list-label {
  margin-left: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  opacity: 1;
}
.news-ul li:hover .inform-list-numb {
  margin-left: 0;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  opacity: 1;
}
.service-ul li:first-child {
  margin-top: 50px;
}
.service-ul li {
  margin: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 25px;
}
.service-content h4 {
  font-size: 22px;
}
.w-blue {
  color: #0086da;
}
.service-content p {
  font-size: 14px;
  color: #999999;
  line-height: 22px;
}
.service-img {
  text-align: center;
}
.service-img img {
  width: 70%;
}
.part-title-mar {
  padding-top: 30px;
  padding-bottom: 25px;
}
.part-title {
  text-align: center;
  position: relative;
}
.part-title-i {
  vertical-align: sub;
  font-size: 36px;
  color: #0086da;
  margin-right: 5px;
}
.part-title-span {
  font-size: 26px;
}
.part-title p {
  font-size: 17px;
  color: #999;
  margin-top: -5px;
}
.gray-li {
  background-color: #f0eeed;
}
.contact-us {
  padding: 30px 40px;
  text-align: center;
}
.contact-us div img {
  width: 80%;
  float: right;
}
.contact-add li {
  margin-bottom: 10px;
}
li {
  list-style: none;
}
.am-text-block {
  font-size: 20px !important;
  font-weight: 700 !important;
}
.contact-add li div {
  position: relative;
}
.contact-add div,
.contact-add li i {
  height: 35px;
  line-height: 35px;
}
.contact-add li i {
  background-color: #0086da;
  width: 35px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 20px;
}
.contact-add div span {
  width: 270px;
  background-color: #fff;
  height: 35px;
  display: inline-block;
  padding-left: 45px;
  font-size: 14px;
  float: left;
  color: #666;
  font-weight: bold;
  text-align: left;
}
.contact-add-1 {
  font-size: 13px !important;
}
